.popup__input_type_mesto {
  font-size: 12px;
  line-height: 15px;
  color: #C4C4C4;
}

.popup__input_type_mesto:nth-last-child(2) {
  margin-top: 19px;
}


@media screen and (min-width: 768px) {
  .popup__input_type_mesto {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__input_type_mesto:nth-last-child(2) {
    margin-top: 30px;
  }
}
