.popup__container {
  background-color: #fff;
  box-sizing: border-box;
  width: 282px;
  border-radius: 10px;
  margin-top: 128px;
  padding: 25px 22px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
