.cards__like {
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  outline: none;
  width: 22px;
  height: 19px;
  padding: 0;
  margin-top: 7px;
  transition: opacity .3s;
}

.cards__like:hover {
  opacity: .5;
  cursor: pointer;
}
