.cards__photo {
  width: 100%;
  object-fit: cover;
  height: calc(100vw - 39px);
}

.cards__photo:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .cards__photo {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .cards__photo {
    height: 282px;
  }
}
